*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a3d0a;
}
header{
    width: 95%;
    margin: 20px auto;
    background-color: #0f5c0f;
    padding: 20px;
    box-shadow: 0 0 10px black;
}
h1{
     text-align: center;
     font-size: 50px;
     color: #ffd700;
     letter-spacing: 4px;
     margin-bottom: 10px;
}
.layout{
   display: flex;
   justify-content: space-between;
}
.left{
    width: 65%;
}
.rwo{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 20px;
}
.rwo label{
    width: 180px;
    color: white;
    font-weight: bold;
}
.rwo input,
.rwo select{
    flex: 1;
    padding: 3px;
    border: none;
    outline: none;
}
.right{
     /* width: 30px; */
     text-align: center;
}
.picture p{
    color: white;
    font-weight: bold;
}
.picture img{
    width: 200px;
    height: 220px;
    display: block;
    margin: 10px auto;
    border: 3px solid white;
}
.browse{
    padding: 6px 20px;
    background: lightgray;
    border: none;
    cursor: pointer;
}
.btns button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: lightgray;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.btns button:hover{
    background-color: gray;
    color: white;
}
